<template>
  <v-footer padless class="footer">
    <v-col
      class="text-center"
      cols="12"
    >
      {{ new Date().getFullYear() }} — <strong>Powered by <a href="https://datails.nl" target="_blank">Datails</a></strong>
    </v-col>
  </v-footer>
</template>

<script>
export default {
  name: 'FooterComponent',

  data: () => ({
   
  }),
}
</script>

<style scoped>
.footer {
  background: #7db9b3
}
</style>