<template>
  <v-container>
    <v-row class="text-center">
      <v-col cols="12">
        <v-img
          :src="logo"
          class="my-3"
          contain
          height="200"
        />
      </v-col>

      <v-col class="mb-4">
        <h1 class="display-2 font-weight-bold mb-3">
          Excel Formatter Desktop App
        </h1>

          <h4>Issues</h4>

        <p class="subheading font-weight-regular">
          For help and collaboration,
          <br>please make issues online at 
          <a
            href="https://gitlab.com/datails/excel-parser/-/issues"
            target="_blank"
          >GitLab</a>
        </p>
      </v-col>

      <v-col
        class="mb-5"
        cols="12"
      >
        <h2 class="headline font-weight-bold mb-5">
          Downloads
        </h2>

        <v-row justify="center">
          <a
            v-for="(next, i) in downloads"
            :key="i"
            :href="next.href"
            class="subheading mx-3"
            target="_blank"
            download
          >
            {{ next.text }}
          </a>
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import logo from '../assets/logo_transparent.png'

export default {
  name: 'HeaderComponent',

  data: () => ({
    logo,
    downloads: [
      {
        text: 'windows/arm64',
        href: location.origin + '/downloads/excel-formatter-arm64.exe',
      },
      {
        text: 'windows/amd64',
        href: location.origin + '/downloads/excel-formatter-amd64.exe',
      },
      {
        text: 'MacOS/universal',
        href: location.origin + '/downloads/Excel Formatter.app.zip',
      },
    ],
  }),
}
</script>