#app {
  text-align: center;
  padding: 0 24px;
  margin-bottom: 48px;
  margin-top: 32px !important;
}

#form {
  text-align: center;
  margin-bottom: 48px;
  margin-top: 32px !important;
}

#logo {
  display: block;
  height: 30%;
  margin: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-origin: content-box;
}

.flex {
  display: flex !important;
}

.condition-group {
  margin: 15px 0px 15px 15px;
  border-left: 1px dashed #000;
}

.addMoreButton {
  position: absolute;
  margin-top: -12px;
  color: #93c2bd;
}

.justifyStart {
  justify-content: flex-start !important;
}

.flexDirectionColumn {
  flex-direction: column !important;
}

.title-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-top: 35px;
}

.divide {
  margin-top: 45px !important;
  margin-bottom: 45px !important;
}

.margin8 {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}

.margin16 {
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}

.marginBottom32 {
  margin-bottom: 32px !important;
}

.form-control {
  margin-bottom: 45px !important;
  margin-bottom: 10px;
  width: 100%;
}

.paper {
  padding: 25px;
  min-width: 350px;
  margin: 50px 50px 50px 0;
  display: flex;
  justify-content: center;
  align-self: start;
}

.white {
  color: #fff !important;
}

.body {
  color: #acb6be !important;
  text-align: left;
}

.result {
  height: 20px;
  line-height: 20px;
  margin: 1.5rem auto;
}

.input-box {
  max-width: 240px;
  margin-top: 35px;
}

.button {
  font-size: 1rem !important;
  padding: 15px;
}

.button.form {
  font-size: 1rem !important;
  padding: 15px !important;
  align-self: flex-start;
  margin: 0;
}
