<template>
  <v-app>
    <v-main class="app">
      <HeaderComponent/>
    </v-main>
    <FooterComponent />
  </v-app>
</template>

<script>
import HeaderComponent from './components/Header.vue'
import FooterComponent from './components/Footer.vue'

export default {
  name: 'App',

  components: {
    HeaderComponent,
    FooterComponent,
  },

  data: () => ({
    //
  }),
}
</script>

<style scoped>
.app {
  background-color: rgb(249, 249, 249);
}
</style>